.contact-inner {
  margin-top: 100px;
}

.contactList{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.contactList img {
  margin-right: 10px;
}

.phone-link {
  display: block;
  margin-bottom: 20px ;
}

.location{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
}