.signIn {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.signIn-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.signIn-imgDiv {
  display: block;
  width: 50%;
  height: 100%;
  padding: 122px 38px;
  text-align: center;
  background-color:  rgba(201, 172, 140, 0.93);
}

.signIn-form {
  display: block;
  height: 100%;
  padding: 75px 136px 136px 112px;
}

.signIn-heading {
  font-family: 'Arial Black';
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 36px;
  line-height: 51px;
}

.signIn-text {
  font-family: 'Roboto';
  font-style: normal;
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.signIn-input {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  width: 330px;
  padding: 16px 0 10px 29px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  border: 1px solid #B4B4BB;
  border-radius: 10px;
  color: #AAAAAA;
}

.signIn-button {
  width: 330px;
  font-family: 'Red Hat Display';
  font-style: normal;
  margin-top: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #152540;
  border-radius: 99px;
  cursor: pointer;
}

.signIn-button:hover {
  background-color: #304568;
}

.signIn-button:active {
  background-color: #556c93;
}

.signIn-link {
  text-decoration: none;
  color: #549FF9;
}