.addCategory {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.addCategory-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.addCategory-imgDiv {
  display: block;
  width: 50%;
  height: 100%;
  padding: 87px 38px 34px 38px;
  text-align: center;
  background-color:  #E5E5E5;
}

.addCategory-form {
  display: block;
  width: 50%;
  height: 100%;
  padding: 31px 136px 10px 112px;
}

.addCategory-heading {
  font-family: 'Arial Black';
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 36px;
  line-height: 51px;
}

.addCategory-input {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  width: 330px;
  padding: 16px 0 10px 29px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  border: 1px solid #B4B4BB;
  border-radius: 10px;
  color: #AAAAAA;
}

.addCategory-button {
  width: 330px;
  font-family: 'Red Hat Display';
  font-style: normal;
  margin-top: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #152540;
  border-radius: 99px;
  cursor: pointer;
}

.addCategory-link {
  text-decoration: none;
  color: #549FF9;
}

.addCategory-label {
  font-family: 'Red Hat Display';
  display: block;
  font-style: normal;
  margin-top: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.addCategory-img {
  margin-left: 30px;
}

.addCategory-contentImg {
  width: 300px;
  height: 482px;
}

.addCategory-name {
  font-family: 'Arial Black';
  font-style: normal;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}